/* Bootstrap */
@use "bootstrap/scss/bootstrap";

/* Global Variables */
$primary: #013D52;
$nvb: #131414;

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 40px;
  transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Content Projection Pattern */
[action-buttons],
[search-filters] {
  display: contents;
}
